@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

::selection {
    background-color: #000;
    color: #fff;
}

.emoji {
    display: inline-block;
    width: auto;
    height: 1em;
    vertical-align: -0.125em;
}

.icon {
    color: inherit;
}

.icon-button {
    @apply group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition-transform;
}
